<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>系统文档</title>
    <style type="text/css">

        html, body { margin: 0; padding: 20px 5px 5px 5px; background: #cccccc; font-size: 14px; }
        h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
        h1 { margin:0; line-height:30px; font-size:26px; } h2 { margin:0; line-height:28px; font-size:22px; } h3 { margin:0; line-height:26px; font-size:16px; }
        h4 { margin:0; line-height:24px; font-size:14px; } h5 { margin:0; line-height:22px; font-size:12px; } h6 { margin:0; line-height:20px; font-size:10px; }
        p { margin:10px 0; padding:0; }

        a { text-decoration: none; }

        .spacing { margin: 50px 0; }

        table { margin: 10px 0; width:100%; line-height:24px; font-size:14px; border-collapse:collapse; border-spacing:0; table-layout:fixed; vertical-align:middle; }
        table th { padding:0; text-align:left; vertical-align:middle; border: solid 1px gray; padding: 0 5px; color: #ffffff; background: #333333; }
        table td { padding:0; text-align:left; vertical-align:middle; border: solid 1px gray; padding: 0 5px; background: #ffffff; white-space:normal; word-break:break-all; }
        table td table { margin: 5px 0; table-layout: inherit; }
        table td table th { color: #000000; background: #dddddd; }

        .doc { line-height: 30px; }
        .doc a { padding: 5px 5px; }
        .doc a:hover { color: #ffffff; background: #2F6FAD; }

        .link { line-height: 30px; }
        .link a { padding: 5px 5px; }
        .link a:hover { color: #ffffff; background: #2F6FAD; }

        .logout { position: fixed; top: 0; right: 0; padding: 5px 10px; background: #ffffff; }
        .top { position: fixed; bottom: 0; left: 0; background: rgba(255,255,255,0.5); }
        .top a { display: block; padding: 10px 20px; }

        .route { margin: 50px 0; }
        .model { margin: 50px 0; }

        .coding table th { color: #ffffff; background: #660000; }
        .coding table table th { color: #ffffff; background: #954121; }
        .coded table th { color: #ffffff; background: #219161; }
        .coded table table th{ color: #ffffff; background: #9BC14F; }
        .coded table table table th { color: #000000; background: #cccccc; }

        table.code { border: solid 3px green; }

    </style>
</head>
<body>

<!--
<div class="logout"><a href="/sysdoc?method=logout" onclick="return confirm('确认要退出登录吗？');">退出登录</a></div>
-->
<div class="top"><a href="#top">回顶部</a></div>



<h2>参数加解密</h2>
<div class="link">
    <%range $k,$v := .data.cryptos %>
    <a href="#crypto:<%$k%>" title="<%$k%>"><%$v.name%></a>
    <%end%>
</div>
<hr/>




<h2>状态</h2>
<div class="link">
    <% range $k,$v := .data.states %>
    <a href="#state:<%$k%>" title="<%$k%>"><%$k%></a>
    <%end%>
</div>
<hr/>

<h2>模型</h2>
<div class="link">
    <% range $dk,$dv := .data.models %>
    <div>
        <strong><%$dk%>：</strong>
        <%range $mk,$mv := $dv%>
            <a href="#model:<%$dk%>.<%$mk%>"><%$mk%></a>
        <%end%>
    </div>
    <%end%>
</div>
<hr/>

<h2>路由</h2>
<div class="link">
    <% range $name,$config := .data.routes %>
    <div>
    <strong><%$config.uri%>：</strong>
    <%if $config.route%>
    <%if and $config.route.action%>
    <a href="#route:<%$name%>">(*)<%$config.route.name%></a>
    <%else%>
    <%range $method,$methodConfig := $config.route%>
    <a href="#route:<%$name%>">(<%$method%>)<%$methodConfig.name%></a>
    <%end%>
    <%end%>
    <%end%>


    <%if $config.branch%>
    <%range $branchName,$branchConfig := $config.branch%>

    <strong>分支：<%$branchName%></strong>

    <%if and $branchConfig.route.action%>
    <a href="#route:<%$name%>">(*)<%$branchConfig.route.name%></a>
    <%else%>
    <%range $method,$methodConfig := $branchConfig.route%>
    <a href="#route:<%$name%>">(<%$method%>)<%$methodConfig.name%></a>
    <%end%>
    <%end%>


    <%end%>
    <%end%>
    </div>
    <%end%>
</div>
<hr/>

<!--

<h2>WebScoket路由</h2>
<div class="link">
    <% range $name,$config := .data.sockets %>
    <div>

    <strong><%$name%>：</strong>
    <%if $config.route%>
    <%if and $config.route.action%>
    <a href="#socket:<%$name%>">(*)<%$config.route.name%></a>
    <%else%>
    <%range $method,$methodConfig := $config.route%>
    <a href="#socket:<%$name%>">(<%$method%>)<%$methodConfig.name%></a>
    <%end%>
    <%end%>
    <%end%>


    <%if $config.branch%>
    <%range $branchName,$branchConfig := $config.branch%>

    <strong>分支：<%$branchName%></strong>

    <%if and $branchConfig.route.action%>
    <a href="#socket:<%$name%>">(*)<%$branchConfig.route.name%></a>
    <%else%>
    <%range $method,$methodConfig := $branchConfig.route%>
    <a href="#socket:<%$name%>">(<%$method%>)<%$methodConfig.name%></a>
    <%end%>
    <%end%>


    <%end%>
    <%end%>
    </div>
    <%end%>
</div>
<hr/>



<h2>WebSocket消息</h2>
<div class="link">
    <% range $k,$v := .data.messages %>
        <a href="#message:<%$k%>"><%$k%> ( <%$v.name%> )</a>
    <%end%>
</div>
<hr/>
-->


<br/><br/><br/><br/><br/><br/>




<h2>参数加解密：</h2>
<hr/>
<br/>
<div class="status">
    <table>
        <tr>
            <th style="width: 120px;">标识</th>
            <th style="width: 120px;">名称</th>
            <th>说明</th>
            <th>Key</th>
        </tr>
        <%range $k,$v := .data.cryptos %>
        <tr>
            <td><%$k%></td>
            <td><a name="crypto:<%$k%>"></a><%$v.name%></td>
            <td><%$v.text%></td>
            <td><%format "%v" $v.key%></td>
        </tr>
        <%end%>
    </table>
</div>
<hr/>





<br/>
<br/>
<br/>
<br/>
<br/>




<h2>状态定义：</h2>
<hr/>
<br/>
<div class="status">
    <table>
        <tr>
            <th>状态码</th>
            <th>状态字串</th>
        </tr>
        <% range $k,$v := .data.states %>
        <tr>
            <td><%$k%></td>
            <td><%$v%></td>
        </tr>
        <%end%>
    </table>
</div>
<hr/>




<br/><br/><br/><br/><br/><br/>

<h2>模型定义：</h2>
<hr/>
<div class="models">

    <!-- 循环模型 begin -->

    <% range $dk,$dv := .data.models %>
    <% range $name,$config := $dv %>

    <div class="model">
        <h3>模型：<a name="model:<%$dk%>.<%$name%>" href="" target="_blank"><%$dk%>.<%$name%></a></h3>

        <div style="margin: 50px 0;">
            <table>
                <tr>
                    <th>数据库</th>
                    <th>schema</th>
                    <th>对象名（表、视图）</th>
                    <th>名称</th>
                    <th>说明</th>
                </tr>
                <tr>
                    <td><%$dk%></td>
                    <td>
                        <%if $config.schema%>
                            <%$config.schema%>
                        <%else%>
                            public
                        <%end%>
                    </td>
                    <td>
                        <%if $config.table%>
                            <%$config.table%>
                        <%else%>
                            <%$name%>
                        <%end%>
                    </td>
                    <td><%$config.name%></td>
                    <td><%$config.text%></td>
                </tr>

                <!-- 判断模型 有没有参数 begin -->
                <%if $config.fields%>
                <tr>
                    <th colspan="5">字段列表</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.fields%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->


            </table>
        </div>
    </div>
    <%end%>
    <%end%>
    <!-- 循环模型 end -->

</div>



<br/><br/><br/><br/><br/><br/>



<h2>路由定义：</h2>
<hr/>
<div class="routes">

    <% range $name,$config := .data.routes %>
    <div class="route">
        <h3>
            <div>路由：<a name="route:<%$name%>"><%$name%></a></div>
        </h3>

        <!-- 判断全/分方法版 begin -->
        <%if $config.route.action %>
        <!-- 全方法版 begin -->

        <div style="margin: 50px 0;" class="<%if $config.route.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td>*</td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$config.route.name%></td>
                    <td><%$config.route.text%></td>
                    <td>
                        <%if $config.route.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>


                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.base%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $config.route.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.route.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->


                <!-- 判断路由 有没有参数 begin -->
                <%if $config.route.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



                <!-- 判断路由 有没有返回状态 begin -->
                <%if $config.route.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $config.route.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $config.route.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.data%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



            </table>
        </div>

        <!-- 全方法版 end -->
        <%else%>
        <!-- 分方法版 begin -->

        <%range $methodName,$methodConfig := $config.route%>
        <!-- 循环 methods begin -->
        <div style="margin: 50px 0;" class="<%if $methodConfig.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td><%$methodName%></td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$methodConfig.name%></td>
                    <td><%$methodConfig.text%></td>
                    <td>
                        <%if $methodConfig.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>

                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.base%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $methodConfig.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $methodConfig.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->




                <!-- 判断路由 有没有参数 begin -->
                <%if $methodConfig.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->

                <!-- 判断路由 有没有返回状态 begin -->
                <%if $methodConfig.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $methodConfig.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $methodConfig.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.data%>
                    </td>
                </tr>







                <%end%>
                <!-- 判断路由 有没有参数 end -->

            </table>
        </div>
        <!-- 循环methods end -->
        <%end%>

        <!-- 分方法版 end -->
        <%end%>
        <!-- 判断全/分方法版 end -->







        <!-- 路由分支 begin -->
        <%if $config.branch%>
        <%range $k,$branchConfig := $config.branch%>

        <h3>
            <div>路由：<%$name%> 分支：<%$k%></div>
        </h3>
        <div><strong><%$branchConfig.name%>: </strong> <%$branchConfig.text%></div>

        <!-- 判断全/分方法版 begin -->
        <%if $branchConfig.route.action %>
        <!-- 全方法版 begin -->

        <div style="margin: 50px 0;" class="<%if $config.route.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td>*</td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$branchConfig.route.name%></td>
                    <td><%$branchConfig.route.text%></td>
                    <td>
                        <%if $branchConfig.route.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>


                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $branchConfig.route.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $branchConfig.route.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->


                <!-- 判断路由 有没有参数 begin -->
                <%if $branchConfig.route.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



                <!-- 判断路由 有没有返回状态 begin -->
                <%if $branchConfig.route.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $config.route.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $branchConfig.route.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.data%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



            </table>
        </div>

        <!-- 全方法版 end -->
        <%else%>
        <!-- 分方法版 begin -->

        <%range $methodName,$methodConfig := $branchConfig.route%>
        <!-- 循环 methods begin -->
        <div style="margin: 50px 0;" class="<%if $methodConfig.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td><%$methodName%></td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$methodConfig.name%></td>
                    <td><%$methodConfig.text%></td>
                    <td>
                        <%if $methodConfig.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>

                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $methodConfig.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $methodConfig.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->




                <!-- 判断路由 有没有参数 begin -->
                <%if $methodConfig.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->

                <!-- 判断路由 有没有返回状态 begin -->
                <%if $methodConfig.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $methodConfig.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $methodConfig.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.data%>
                    </td>
                </tr>







                <%end%>
                <!-- 判断路由 有没有参数 end -->

            </table>
        </div>
        <!-- 循环methods end -->
        <%end%>

        <!-- 分方法版 end -->
        <%end%>
        <!-- 判断全/分方法版 end -->






        <%end%>
        <%end%>
        <!-- 路由分支 end -->

















    </div>
    <!-- 路由循环 end -->
    <%end%>

</div>
<hr/>



<br/>
<br/>
<br/>
<br/>
<br/>




<h2>WebSocket路由定义：</h2>
<hr/>
<div class="routes">

    <% range $name,$config := .data.sockets %>
    <div class="route">
        <h3>
            <div>WebSocket路由：<a name="socket:<%$name%>"><%$name%></a></div>
        </h3>

        <!-- 判断全/分方法版 begin -->
        <%if $config.route.action %>
        <!-- 全方法版 begin -->

        <div style="margin: 50px 0;" class="<%if $config.route.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td>*</td>
                    <td>
                        <%if $config.uri%>
                        <div><%$config.uri%></div>
                        <%else%>
                        <div><%$name%></div>
                        <%end%>
                    </td>
                    <td><%$config.route.name%></td>
                    <td><%$config.route.text%></td>
                    <td>
                        <%if $config.route.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>


                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $config.route.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.route.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->


                <!-- 判断路由 有没有参数 begin -->
                <%if $config.route.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



                <!-- 判断路由 有没有返回状态 begin -->
                <%if $config.route.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $config.route.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $config.route.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.data%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



            </table>
        </div>

        <!-- 全方法版 end -->
        <%else%>
        <!-- 分方法版 begin -->

        <%range $methodName,$methodConfig := $config.route%>
        <!-- 循环 methods begin -->
        <div style="margin: 50px 0;" class="<%if $methodConfig.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td><%$methodName%></td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$methodConfig.name%></td>
                    <td><%$methodConfig.text%></td>
                    <td>
                        <%if $methodConfig.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>

                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $methodConfig.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $methodConfig.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->




                <!-- 判断路由 有没有参数 begin -->
                <%if $methodConfig.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->

                <!-- 判断路由 有没有返回状态 begin -->
                <%if $methodConfig.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $methodConfig.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $methodConfig.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.data%>
                    </td>
                </tr>







                <%end%>
                <!-- 判断路由 有没有参数 end -->

            </table>
        </div>
        <!-- 循环methods end -->
        <%end%>

        <!-- 分方法版 end -->
        <%end%>
        <!-- 判断全/分方法版 end -->







        <!-- 路由分支 begin -->
        <%if $config.branch%>
        <%range $k,$branchConfig := $config.branch%>

        <h3>
            <div>路由：<%$name%> 分支：<%$k%></div>
        </h3>
        <div><strong><%$branchConfig.name%>: </strong> <%$branchConfig.text%></div>

        <!-- 判断全/分方法版 begin -->
        <%if $branchConfig.route.action %>
        <!-- 全方法版 begin -->

        <div style="margin: 50px 0;" class="<%if $config.route.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td>*</td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$branchConfig.route.name%></td>
                    <td><%$branchConfig.route.text%></td>
                    <td>
                        <%if $branchConfig.route.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>


                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $branchConfig.route.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $branchConfig.route.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->


                <!-- 判断路由 有没有参数 begin -->
                <%if $branchConfig.route.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



                <!-- 判断路由 有没有返回状态 begin -->
                <%if $branchConfig.route.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $config.route.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $branchConfig.route.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $config.route.data%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->



            </table>
        </div>

        <!-- 全方法版 end -->
        <%else%>
        <!-- 分方法版 begin -->

        <%range $methodName,$methodConfig := $branchConfig.route%>
        <!-- 循环 methods begin -->
        <div style="margin: 50px 0;" class="<%if $methodConfig.coded%>coded<%else%>coding<%end%>">
            <table>
                <tr>
                    <th style="width: 70px;">method</th>
                    <th>uri</th>
                    <th>名称</th>
                    <th>说明</th>
                    <th style="width: 70px;">编码</th>
                </tr>
                <tr>
                    <td><%$methodName%></td>
                    <td>
                        <div><%$config.uri%></div>
                    </td>
                    <td><%$methodConfig.name%></td>
                    <td><%$methodConfig.text%></td>
                    <td>
                        <%if $methodConfig.coded%>
                        <span style="color: green;">已完成</span>
                        <%else%>
                        <span style="color: red;">未完成</span>
                        <%end%>
                    </td>
                </tr>

                <!-- 判断路由 有没有访问验证 begin -->
                <!-- 注意，分方法页，可能会上级的总体访问验证 -->
                <%if $config.auth%>
                <tr>
                    <th colspan="5">上级访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $config.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <%if $methodConfig.auth%>
                <tr>
                    <th colspan="5">访问验证</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>key</th>
                                <th>必须</th>
                                <th>签名sign</th>
                                <th>数据库base</th>
                                <th>数据表model</th>
                                <th>名称</th>
                                <th>说明</th>
                            </tr>
                            <%range $authName,$authConfig := $methodConfig.auth%>
                            <tr>
                                <td><%$authName%></td>
                                <td><%$authConfig.must%></td>
                                <td><%$authConfig.sign%></td>
                                <td><%$authConfig.data%></td>
                                <td><%$authConfig.model%></td>
                                <td><%$authConfig.name%></td>
                                <td><%$authConfig.text%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有访问验证 end -->




                <!-- 判断路由 有没有参数 begin -->
                <%if $methodConfig.args%>
                <tr>
                    <th colspan="5">路由参数</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.args%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->

                <!-- 判断路由 有没有返回状态 begin -->
                <%if $methodConfig.state%>
                <tr>
                    <th colspan="5">返回状态</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <table>
                            <tr>
                                <th>状态码</th>
                                <th>状态说明</th>
                            </tr>
                            <%range $stateCode,$stateText := $methodConfig.state%>
                            <tr>
                                <td><%$stateCode%></td>
                                <td><%$stateText%></td>
                            </tr>
                            <%end%>
                        </table>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有返回状态 end -->

                <!-- 判断路由 有没有返回数据 begin -->
                <%if $methodConfig.data%>
                <tr>
                    <th colspan="5">返回数据</th>
                </tr>
                <tr>
                    <td colspan="5">
                        <%render "json" $methodConfig.data%>
                    </td>
                </tr>







                <%end%>
                <!-- 判断路由 有没有参数 end -->

            </table>
        </div>
        <!-- 循环methods end -->
        <%end%>

        <!-- 分方法版 end -->
        <%end%>
        <!-- 判断全/分方法版 end -->






        <%end%>
        <%end%>
        <!-- 路由分支 end -->

















    </div>
    <!-- 路由循环 end -->
    <%end%>

</div>
<hr/>



<hr/>



<br/>
<br/>
<br/>
<br/>
<br/>




<h2>WebSocket消息定义：</h2>
<hr/>
<div class="models">

    <!-- 循环消息 begin -->

    <% range $mk,$mv := .data.messages %>

    <div class="model">
        <h3>消息：<a name="message:<%$mk%>"><%$mk%> &nbsp;&nbsp;&nbsp;&nbsp;</a></h3>

        <div style="margin: 50px 0;">
            <table>
                <tr>
                    <th>消息</th>
                    <th>路径 names</th>
                    <th>名称</th>
                    <th>说明</th>
                </tr>
                <tr>
                    <td><%$mk%></td>
                    <td>
                        <%if .mv.uri%>
                            <%.mv.uri%>
                        <%else%>
                            <%$mk%>
                        <%end%>
                    </td>
                    <td><%$mv.name%></td>
                    <td><%$mv.text%></td>
                </tr>

                <!-- 判断模型 有没有参数 begin -->
                <%if $mv.data%>
                <tr>
                    <th colspan="4">发送数据data</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <%render "json" $mv.data%>
                    </td>
                </tr>
                <%end%>
                <!-- 判断路由 有没有参数 end -->

            </table>
        </div>
    </div>
    <%end%>
    <!-- 循环消息 end -->
</div>

</body>
</html>
