{%layout `sys`%}

<form role="form" method="post" action="{%route `` `{}` `{"back":true}`%}">
<table>
    <tr>
        <th style="width: 150px;">编号：</th>
        <td>
            {%.data.item.id%}
        </td>
    </tr>
    <tr>
        <th style="width: 150px;"><span>*</span>帐号：</th>
        <td>
            {%.data.item.account%}
        </td>
    </tr>
    <tr>
        <th><span>*</span>名称：</th>
        <td>
            {%.data.item.name%}
        </td>
    </tr>
    <tr>
        <th><span>*</span>角色：</th>
        <td>
            {%enum "main" "admin" "role" .data.item.role%}
        </td>
    </tr>
    <tr>
        <th><span>*</span>修改时间：</th>
        <td>
            {%format `2006-01-02 15:04:05` .data.item.changed%}
        </td>
    </tr>
    <tr>
        <th><span>*</span>添加时间：</th>
        <td>
            {%format `2006-01-02 15:04:05` .data.item.created%}
        </td>
    </tr>
</table>
</form>