{%layout `sys`%}
<table>
    <tr>
        <th>编号</th>
        <th>帐号</th>
        <th>名称</th>
        <th>角色</th>
        <th>详情</th>
        <th>编辑</th>
        <th>删除</th>
    </tr>
    {%range .data.admins%}
    <tr>
        <td>{%.id%}</td>
        <td>{%.account%}</td>
        <td>{%.name%}</td>
        <td>{%enum "main" "admin" "role" .role%}</td>
        <td>
            <a href="{%route `admin.detail` (format `{"{id}": "%v"}` .id)%}">详情</a>
        </td>
        <td>
            <a href="{%route `admin.change` (format `{"{id}": "%v"}` .id)%}">编辑</a>
        </td>
        <td>
            <a href="{%route `admin.remove` (format `{"{id}": "%v"}` .id)%}">删除</a>
        </td>
    </tr>
    {%end%}
</table>