<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <style type="text/css">
        table { border: solid 1px gray; width: 100%;border-collapse: collapse;  }
        th,td { padding: 5px 0; border-bottom: solid 1px gray; text-align: left; line-height: 30px; }
        .input { width: 90%; height: 30px; line-height: 30px; }
        button { padding: 0 30px; height: 30px; }
    </style>
</head>
<body>
<a href="{%route `index`%}">后台首页</a>
<a href="{%route `admin`%}">管理员列表</a>
<a href="{%route `admin.create`%}">添加管理员</a>
<hr/>
{%body%}
</body>
</html>